* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Red Rose", cursive; */
}
body {
  /* /background-image: url("./Photos/background.png"); */
  margin: 5% 5% 0 5%;

  background-color: #252424;
  /* opacity: 0.2; */
}
/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */

nav {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 2;
  justify-content: space-between;
  align-items: space-evenly;
  list-style-type: none;
}
nav .list {
  position: relative;
  display: flex;
  gap: 30px;
  color: #f0f0e7;
  font-size: 10px;
  opacity: 1;
  justify-content: flex-end;
  align-content: flex-end;
  list-style-type: none;
}
.description {
  position: relative;
  bottom: 1000px;
}
span {
  font-size: 20px;
  color: #e07c24;
}
.cards {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  max-width: 700px;
  min-height: 500px;
  align-content: flex-start;
}

.card {
  line-height: 1;
  padding: 3rem;
  background: #252525;
  align-content: flex-start;
  margin: 6px;
  opacity: 0.5;
}

.card.card1 {
  padding: 2.5rem;
  text-align: center;
  min-height: 500px;
  background: #3d3d3d;
  opacity: 1;
}
.card.card2 {
  position: relative;
  top: 30px;
  line-height: 1;
  text-align: right;
  width: 150px;
  height: 150px;
  background: #525050;
  padding: 130px 100px;
  opacity: 1;
}
.card.card3 {
  position: relative;
  top: 30px;
  line-height: 1;
  text-align: right;
  width: 150px;
  height: 150px;
  background: #e07c24;
  padding: 130px 100px;
  /* z-index: 50; */
  opacity: 1;
}
.card.card4 {
  position: relative;
  top: 30px;
  line-height: 1;
  text-align: right;
  width: 150px;
  height: 150px;
  background: #525050;
  padding: 130px 100px;

  opacity: 1;
  /* z-index: 52; */
}
.card.card-small {
  line-height: 1;
  text-align: right;
  width: 150px;
  height: 65px;
  background: #525050;
  padding: 10px 10px;
  opacity: 1;
}
.card.card-smalld {
  line-height: 1;
  text-align: right;
  width: 150px;
  height: 65px;
  background: #525050;
  padding: 10px 10px;
  opacity: 1;
}
.card.card2 {
  position: relative;
  right: 330px;
}
.card.card3 {
  position: relative;
  right: 330px;
}
.card.card4 {
  position: relative;
  right: 330px;
}
.card.card-small {
  position: relative;
  top: 330px;
  right: 730px;
  z-index: 60;
}
.card.card-smalld {
  position: relative;
  top: 420px;
  right: 1050px;
  z-index: 63;
}
.card-head-active,
.card-body1 {
  position: relative;
  top: 300px;
  left: 40px;
  opacity: 1;
}
.card-body1 {
  color: #ffffff;
}
.btn1 {
  position: relative;
  bottom: 10px;
  right: 120px;
  width: 150px;
  border: none;
  background: none;
  color: #e07c24;
  font-weight: 600;
}
.btn2 {
  position: relative;
  bottom: 20px;
  right: 120px;
  width: 150px;
  border: none;
  background: none;
  font-weight: 600;
}
.btn3 {
  position: relative;
  bottom: 10px;
  right: 120px;
  width: 150px;
  border: none;
  background: none;
  color: #e21717;
  font-weight: 600;
}
.card-head-active {
  color: #e07c24;
}
.card-logo {
  position: relative;
  bottom: 120px;
  width: 30px;
  opacity: 1;
}

.card-head {
  position: relative;
  width: 140px;
  bottom: 100px;
  right: 100px;
  color: azure;
  opacity: 1;
}
.card-body {
  position: relative;
  width: 150px;
  bottom: 70px;
  right: 90px;
  color: azure;
  opacity: 1;
}
.card-heads {
  position: relative;
  right: 200px;
  font-size: 25px;
  color: #df6f0d;
  font-weight: 900;
  opacity: 1;
}
.card-bodys {
  color: #ffffff;
  opacity: 1;
}

.logo {
  width: 30px;
}

.banner-container {
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.banner-container img {
  position: relative;
  right: 40px;
  width: 400px;
}
h1 {
  width: 300px;
  font-size: 45px;
  color: #ffffff;
}
.image-section {
  display: flex;
  flex-wrap: wrap;
  /* max-width: 2000px; */

  background-color: #242323;
}
.image-section > div {
  background-color: #444343;
  width: 200px;
  height: 200px;
  margin: 20px;
  text-align: right;
}

span {
  color: #e07c24;
}
.description {
  font-size: 15px;
  color: #ffffff;
}

.banner-container h1 {
  position: relative;
  bottom: 20px;
  width: 400px;
}
.description {
  position: relative;
  bottom: 20px;
  width: 400px;
}
button {
  background: #e07c24;
  padding: 10px 20px;
  color: #ffffff;
}
.heading-text {
  width: 300px;
}
.list-item {
  content: "\25bc";
}
.feat-image {
  position: relative;
  top: 60px;
  right: 10px;
  width: 180px;
}
.btnf {
  position: relative;
  top: 85px;
  right: 70px;
  width: 170px;
  border: none;
  background: none;
  font-weight: 600;
  color: #c42b2b;
}
.feat-head-active {
  position: relative;
  top: 95px;
  right: 120px;
  color: aliceblue;
  font-size: 15px;
}
.feat-head-active1 {
  position: relative;
  top: 75px;
  right: 110px;
  color: aliceblue;
  font-size: 15px;
}
.btnf1 {
  position: relative;
  top: 63px;
  right: 70px;
  width: 170px;
  border: none;
  background: none;
  font-weight: 600;
  color: #c42b2b;
}
.api-heading {
  width: 300px;
  font-size: 30px;
}
.api-text {
  color: azure;
}
.view {
  position: relative;
  bottom: 35px;
  left: 530px;
  background: #e07c24;
}
.social-logos {
  width: 20px;
}
.footer-text {
  position: relative;
  top: 10px;
  left: 5px;

  background-color: #474646;
  width: 600px;
  height: 100px;
  padding: 10px 20px;
}
.footer-head {
  /* /* margin-top: 10px; */
  margin-right: 5px;
  width: 700px;
  font-size: 30px;
  text-transform: capitalize;
}
.ftest {
  color: #ffffff;
}
.check {
  position: relative;
  bottom: 65px;
  left: 430px;
  background: #e07c24;
  border: none;
}
.footer-section {
  margin: 10px;
  position: relative;
  top: 30px;
  display: flex;
  justify-content: space-between;
  background: #474646;
  align-content: center;
  padding: 10px 10px;
  width: 100%;
}
.navbar {
  position: relative;
  top: 20px;
  left: 20px;
  /* background: #3d3d3d; */
  color: #ffffff;
}
.logof {
  width: 20px;
  position: relative;
  left: 50px;
}
.social-logos {
  position: relative;
  right: 130px;
}
@media  only screen and (max-width:768px) {
  body{
    background-color: #67c9ca;
  }
  ul.list{
    display:none;
  }
  
}

